/* main text color black: #212121; */
/* secondary text color grey: #757575 */
/* white text color: #FFFFFF; */
/* blue accent text color: #2196F3 */
/* black Studio text color: #000000 */
/* phone number and email footer text color: rgba(255, 255, 255, 0.6); */
/* background color grey: #F5F4FA; */
/* background footer and hero color: #2F303A; */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --black-text-color: #000000;
  --accent-blue-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --secondary-dark-bcg-color: #2f303a;
  --third-bcg-color: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--black-text-color);
}
.logo span {
  color: var(--accent-blue-color);
}
/* .logo:hover { 
    color:#2196f3;
} */

/* Site Navigation */
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}
.site-nav .link.current {
  color: var(--accent-blue-color);
}

/* Section */
/* .section .section-title {
  color: #212121;
} */

/* Contact Info Header */
.contact-email,
.contact-number {
  color: var(--secondary-text-color);
}
.contact-email:hover,
.contact-number:hover {
  color: var(--accent-blue-color);
}
.contact-email:focus,
.contact-number:focus {
  color: var(--accent-blue-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-dark-bcg-color);
}
.hero-title {
  color: var(--white-color);
}
/* Button */
.button {
  background-color: var(--accent-blue-color);
  color: var(--white-color);
}

/* Features */
.features .text {
  color: var(--secondary-text-color);
}

/* Our Team */
.team {
  background-color: var(--third-bcg-color);
}
.team .text {
  color: var(--secondary-text-color);
}

/* Footer */
footer {
  background-color: var(--secondary-dark-bcg-color);
}
.logo-footer .web {
  color: var(--accent-blue-color);
}
.logo-footer .studio {
  color: var(--white-color);
}
.address-location {
  color: var(--white-color);
}
.address-email,
.address-number {
  color: var(--footer-text-color);
}
.address-email:hover,
.address-number:hover {
  color: var(--accent-blue-color);
}
.address-email:focus,
.address-number:focus {
  color: var(--accent-blue-color);
}
